streamlit
groq
razorpay
openai
firebase-admin
pypdf
fpdf
gTTS
google-generativeai==0.8.3
pdfplumber
youtube-transcript-api
streamlit-mermaid
PyMuPDF
requests
Pillow
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-embeddings-gemini
google-generativeai
llama-index-llms-gemini