streamlit
groq
razorpay
openai
firebase-admin
pypdf
fpdf
gTTS
google-generativeai
pdfplumber
youtube-transcript-api
streamlit-mermaid
PyMuPDF
requests
Pillow
google-generativeai==0.8.3
PyPDF2
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
PyMuPDF
faiss-cpu