streamlit
groq
google-generativeai==0.8.3
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
PyMuPDF
faiss-cpu
python-dotenv
firebase-admin
razorpay
openai
youtube-transcript-api
streamlit-mermaid
requests
Pillow